h1{color:beige;
  text-align:center;
  font-family:Times new roman;
  }

body{background-color:lightblue;
    border:5px solid grey;
     margin-left:auto;
     margin-right:auto;
     border-radius:25px;
     max-widht:1024px;
     min-widht:256px;
    }

p{font-size:14px;
 font-family:times new roman;
 text-align:center;
  color: white;
  background-color: grey;
 }
